@model string
@{
    ViewBag.Title = "CreateRole";
}

<h2>CreateRole</h2>

@using (Html.BeginForm("CreateRole", "Role", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    <input name="name" value="@Model" class="input-size-mini inputuser" placeholder="Role Name" />
    <button type="submit" class="btn btn-primary">Add Role</button>
}

