@model IEnumerable<EventsManager.IdentityModel.Users>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@foreach (var u in Model)
{ 
    <h5>@u.UserName</h5>
    <br />
}

@Html.ActionLink("Create User", "CreateUser", "Admin")
<br />
@Html.ActionLink("Role Management", "Index", "Role")


